 /**
 * Place your custom styles here.
 */

body.page-node-type-report-page, .view--report-view {
    /*font-family: 'Lato', sans-serif;*/
    background: #fff;
    color: #333;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-family: 'Heebo', sans-serif;*/
    color: #000;
}

h1 {
    font-size: 40px;
    font-size: 2.5rem;
}

h2 {
    font-size: 34px;
    font-size: 2.125rem;
}

h3 {
    font-size: 24px;
    font-size: 1.5rem;
}

h1,
h2 {
    color: #0a5796;
}

a,
a:hover {
    border-bottom: none;
}

.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    content: " ";
    display: table;
}

nav .container-fluid {
    max-width: 1065px;
}

section .container-fluid {
    max-width: 1065px;
}

.navbar-fixed-top {
    position: fixed;
    width: 100%;
    z-index: 11111;
}

.navbar-fixed-top * {
    padding-left: 0px;
    padding-right: 0;
}

.navbar-inverse {
    background-color: #44689d;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 10px;
    min-height: 40px;
    font-size: 14px;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-text {
    color: #fff;
}

.navbar-header {
    line-height: 60px;
}

.navbar-brand {
    font-size: .75rem;
    line-height: 30px;
    color: white;
}

.navbar-text {
    margin: 0;
    /* margin-right: 0; */
    font-size: 12px;
}

.navbar-nav {
    /*flex-direction: row;
            align-content: center;
            align-items: center;
            align-self: center;*/
    float: right;
    line-height: 60px;
    display: block;
    width: 60%;
}

.navbar-nav li {
    float: left;
    line-height: 60px;
}

.navbar-nav > li > a {
    line-height: 60px;
    padding: 0;
}

.navbar-nav:before {
    display: table;
    content: '';
}

.navbar-nav li {
    padding: 0 3%;
}

/* Slider Styles */

#slider .slider-text {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 1000;
}

#slider h1, 
#slider h2, 
#slider h3, 
#slider h4, 
#slider h5, 
#slider h6 {
    color: #fff;
    margin: 0;
}

#slider h1 {
    font-size: 8rem;
    line-height: 8rem;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

#slider h2 {
    color: #fff;
    margin: 0;
    font-size: 3.5rem;
}

#slider h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
}

#slider span {
    display: block;
}


#home_section {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(assets/section-images/comm-air-survey-08-15-1.jpg) center/cover no-repeat fixed;
}

#full-width-background {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(assets/section-images/section-full-background.jpg) center/cover no-repeat fixed;
}

#home_section .grid__item {
    flex-direction: column;
}

#home_section span {
    display: block;
}

#home_section h1,
#home_section h2,
#home_section h3 {
    color: #fff;
    margin: 0;
}

#home_section h1 {
    padding: 5px 0;
    font-size: 5rem;
    line-height: 5rem;
    margin: 0;
    text-transform: uppercase;
}

#home_section h2 {
    font-size: 1.5rem;

}

#home_section h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

section h2 {
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    color: #000;
}

section h2 + p:first-of-type {
    padding-top: 10px;
}

section.field--name-field-column-1-bg {
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.fp-section.fp-table,
.fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100vh;
}

.fp-section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.white-background {
    background-color: #fff;
}

.black-background {
    background-color: #333333;
}

.black-background p {
    background-color: #333333;
}


.white-font * {
    color: #fff;
}

.black-font * {
    color: #333333;
}


section.field--name-field-column-1-bg .fp-section.fp-table {
    height: auto;
}

section section h2 {
    text-align: center;
    width: 100%;
}

section section h2 + p:first-of-type {
    border-top: none;
}

.fp-tableCell {
    /*display: table-cell;*/
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.paddingfromtop {
    padding-top: 15px;
}

section p, section li, .field--type-text  {
    /*font-size: 0.875rem;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: #333;
}

section p
{
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden;
}

      

.field--name-field-section-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    background: #fff;
    color: #333;
    margin-bottom: 15px;
}

.col-lg-6 .table {
    margin: 0 15px;
}

.col-lg-6 .table td {
    padding-right: 15px;
}

td p {
    background-color: transparent;
}

h3 {
    line-height: 1.75;
}

/*
tbody {
    font-size: .875rem;
}

.table thead th {
    background: #72706d;
    color: white;
    text-transform: uppercase;
    border-bottom: none;
    font-weight: 300;
    padding: .25rem .75rem;
}

.table-striped td {
    border-top: none;
}
*/


#accordion .card {
    border: none;
    border-radius: 0;
}


.field--name-field-column-1-bg {
    background: #333;
    color: #fff;
}

.field--name-field-column-1-bg h1,
.field--name-field-column-1-bg h2 {
    color: #fff;
}

/* core stuff to hide */

h1.page-header,
nav.tabs {
    display: none;
}

@media (max-width: 700px) {
    body {
        font-size: 14px;
    }
}


/* Footer Styles */

footer {
    background-color: #000;
    padding: 35px 0 60px 0;
    clear: both;
}

footer .container {
    max-width: 1065px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.span9 {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
    display: inline;
}



footer .footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}


@media only screen and (min-width: 486px) footer .span3:last-child {
    position: absolute;
    right: 20px;
    margin-top: 8px;
}

.span3:last-child {
    float: right;
    margin-right: 0;
}

footer .span3 {
    width: 220px;
    margin-top: 10px;
}

.span3 {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
    display: inline;
}

footer .logo-nyc {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 93px;
    height: 31px;
    display: block;
    background-image: url(/assets/header/EPHTImages/nyc_white.png);
    background-size: 93px 31px;
    float: left;
    margin-right: 10px;
    color: #fff;
	margin-bottom: 5px;
}

footer .copyright {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}

footer .copyright p {
    margin: 0;
    line-height: 14px;
    float: left;
}

footer .copyright a {
    color: #fff;
}

.accordion-title {
    width: 100%;
    font-family: Nunito, Quicksand, “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.ui-accordion-header {
    font-size: 18px;
}

.ui-accordion  {
    font-size: 16px;
}


.slide-text {
    position: absolute;
}    

.slide-text-black * {
    color: black;
    background-color: transparent;
}

.slide-text-white * {
    color: white;
    background-color: transparent;
}

.slide-text-upper-left, .slide-text-upper-right {
    top: 2%
}

.slide-text-lower-left, .slide-text-lower-right {
    bottom: 2%
}

.slide-text-upper-left, .slide-text-lower-left {
    left: 2%
}

.slide-text-upper-right, .slide-text-lower-right {
    right: 2%
}

.section-title  {
    width: 100%;
    height: 60vh;
}

.section-title-table {
    height: 100%;
    display: table;
}

.section-title-content {
    display:table-cell;
}

.section-title-content-middle {
    vertical-align:middle;
}

.section-title-content-top {
    vertical-align:top;
}

.section-title-content-center {
    text-align:center;
}

.section-title-content-left {
    text-align:left;
}

.field--name-field-slider-image img {
    margin:auto;
}

.tab-toolbar {
    visibility: hidden;
}

.slider {
      -webkit-appearance: none;
      width: 25%;
      height: 7px;
      border-radius: 5px;   
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 17px;
      height: 17px;
      border-radius: 50%; 
      background: #4CAF50;
      cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=range] {
    width: 75%;
    display: inline-block;
}

.pollutant-select {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 10px;
}


.topnav {
  overflow: hidden;
  background-color: #44689d;
  position: relative;
  min-height:30px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #menuLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  padding-right: 30px;
  background: #44689d;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(0,113,188);
  color: white;
}

li.menu-link-item {
    list-style-type: none;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

a.header-link:link {
    color:white;
    text-decoration:none;
    margin-left: 5px;
}

a.header-link:visited {
    color:white;
    text-decoration:none;
}

a.header-link:hover{
    color:yellow;
    text-decoration:none;
}

body {
    margin-top: 55px;
}
        
        
footer .form-search .input-search {
    width: 75px;
    height: 32px;
    padding: 4px 6px;
    outline: 0;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    float: left;
    border-left: 2px solid #727272;
    border-top: 2px solid #727272;
    border-right: none;
    border-bottom: 2px solid #727272;
    color: #fff;
    background-color: #616161
}

footer .form-search .ico-search {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/assets/home/images/global/sprite-ico-search.png) no-repeat #616161 left -8px;
    padding: 0;
    display: block;
    width: 24px;
    height: 32px;
    border-radius: 0 4px 4px 0;
    border-right: 2px solid #727272;
    border-top: 2px solid #727272;
    border-bottom: 2px solid #727272;
    border-left: none;
    cursor: pointer;
    color: #fff
}        

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

ul {
    margin-left: 15px;
}

.report-row-wrapper {
    position: relative;
    height:100%;
}

.section-nav-buttons {
    position:absolute;
    height:50%;
    left:20px;
    top:70px;
    z-index:999
}

.section-nav-button {
    font-size:36px;
    color:rgb(210,210,210);
}

span.section-nav-button:hover{
    color:rgb(120,120,120);
    text-decoration:none;
}

.section-title-table-left {
    margin: 15px;
}

.section-title-table-center {
    margin: auto;
}

.nyccas-report-title {
    font-size: 45px;
    margin-top: 20px;
}

.nyccas-report-subtitle {
    font-size: 35px;
}
    
@media screen and (max-width: 1200px) {
    .section-nav-buttons {
        display: none;
    }
    .section-title-table-left {
        margin: 2px;
        padding-left: 10px;
    }  
    .nyccas-report-title {
        font-size: 36px;
        margin-top: 15px;
    }

    .nyccas-report-subtitle {
        font-size: 28px;
    }    
}

@media screen and (max-width: 700px) {
    .section-title-table-left {
        padding-left: 3px;
    }  
    .nyccas-report-title {
        font-size: 18px;
    }

    .nyccas-report-subtitle {
        font-size: 16px;
    }
}


.pollutant-selector {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.pollutant-selector button {
    width:55px;
    line-height:50px;
    border:1px solid black;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    color:rgb(255,255,255);
    display:inline-block;
    font-size: 16px;
}
.pollutant-selector button.pollutant-selected {
    opacity:1;
}

.pollutant-selector button.pollutant-not-selected {
    opacity:.25;
    cursor: pointer;
}

.pollutant-selector button.font-white {
    color:rgb(255,255,255);
}

.pollutant-selector button.font-black {
    color:rgb(0,0,0);
}


@media screen and (max-width: 700px) {
    .pollutant-selector button {
        width:45px;
        line-height:40px;
        font-size: 14px;
}
